/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.main-menu.menu-light .navigation>li.active>a,
.main-menu.menu-light .navigation>li ul .active {
    background: linear-gradient(118deg,#354555,rgb(53, 69, 85));
    box-shadow: 0 0 10px 1px rgb(53 69 85 / 70%);
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
    max-width: 50px;
}

.main-menu .navbar-header {
    height: 6rem;
}

.main-menu .navbar-header .navbar-brand .brand-text {
    padding-left: 2.5rem;
}

.main-menu .navbar-header .navbar-brand .brand-text,
a, a:hover   {
     color: #354555;
}

.page-item.active .page-link {
    background-color: #354555;
    color: #fff !important;
}

.bg-primary {
    background-color: #003638!important;
    border-color: #003638!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: rgb(155, 171, 188)!important;
    border-color: #9babbc!important;
}

.btn-primary:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px #9babbc;
}

.form-control, .input-group-text {
    border: 1px solid rgb(155, 171, 188);
}

input:hover,
.form-control:focus,
.btn:focus {
    border-color: #003638;
}

label {
    color: #354555;
    font-size: 0.999rem;
}

.bs-stepper .bs-stepper-header .step.active .step-trigger .bs-stepper-box {
    background-color: #354555;
    color: #FFF;
    box-shadow: 0 3px 6px 0 rgb(53, 69, 85);
}

.bs-stepper .bs-stepper-header .step.active .step-trigger .bs-stepper-label .bs-stepper-title {
    color: #354555;
}

.bg-info {
    background-color: #003638!important;
    color: #FFF;
}
